.btn btn-warning {
  margin-left: 20px;
}
.far fa-calendar-times {
  size: 100px;
}
#deleteDialogMainCard{
    width: "100px";
    /* background-color: aqua; */
    /* margin: "auto"; */
    /* marginTop: "0px"; */
}