.btnaddEvent{
    
    font-size: 20px;
    margin-left: 90%;
    margin-right: 10%

}
.card{
    margin-top: 20%

}
.time{
    font-size: 20px;

}
.coordinator_row {
    padding-top: 3%;
}

#btnEdit_form{
    margin-right: 5%;
    margin-left: 5%;
}