.historySection {
    height: 100px;
    padding-top: 20px;
    /* background: red; */
}

.historyCalendar {
    /* background: yellow; */
}

.historyDetail {
    /* background: green; */
    border-left: 10px;
}