/* #editEvent:hover{
    background-color: aqua;
} */
#modalDelete{
    /* background-color: white; */
}

#modalDeleteBody{
    background-color: white;
    color:rgb(5, 5, 5);
    align-items: flex-start;
}
#modal_header{
    text-align: center;
    padding-left: 30%;
}

.actionItem{
    background-color: whitesmoke;
}

.actionItem:hover{
    background-color: #1CB1AC;
    cursor: pointer;
}