.ApprovalSection {
  display: flex;
  font-family: 'Poppins';
  
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  /* margin-right: 3rem; */
  padding-right: 2rem;
  margin-left: 0rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  /* padding: 40px; */
  font-family: 'Poppins';
  font-size: 10pt;
  border-radius: 6px;
  max-width: 87.5%;
}

.Label {
  font-weight: 900;
  color:  #0b837f;
  font-size: 1rem;
  /* font-family: 'Courier New', Courier, monospace; */
}

img {
  width: 50px;
}

/*#row {
  background-color: rgba(rgb(240, 232, 232), green, blue, 0.1);
}*/