.AvatarImage {
  height: 50px;
  width: 50px;
}

.AvatarTitle {
  font-weight: bold;
  margin-top: -10px;
  font-family: 'Courier New', Courier, monospace;
}

.AvatarName{
  text-align-last: auto;
color: rgb(8, 8, 8);
}

.Avatar{
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;
  margin: 5px; 
  width: 150px;
}