img {
  width: 35px;
  height: 35px;
}

#name {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

#designation {
  font-style: italic;
  font-size: 0.75rem;
}

.btn-sm {
  line-height: 1;
  font-size: 0.75rem;
}

.btn {
  border: 0px;
  padding-bottom: 0.5rem;
  margin-bottom: 0rem;
}

div #main {
  max-width: 15rem;
  max-height: 10rem;
  margin-bottom: 0.5rem;
}
