.root {
  flexGrow: 1;
  width: "1920px";

}

.navbar {
  background: #1CB1AC;
}

.right {
  float: right;
}

.grow {
  flexGrow: 1;
}

.menuButton {
  marginLeft: -12;
  marginRight: 20;
}

.AppBar {

  position: "static";
  color: "inherit";
}

.Typography {
  color: "white";
  fontWeight: "bold";
  fontSize: "100%";

}

.IconButton {
  color: "white";
}

.Avatar {
  margin: 0;
  width: 40;
  height: 40;
}
.user_avatar{
  padding-left: 1rem;
}

.user_details {
  margin-top: 0.5rem;
  /* padding-left: 1rem; */
}


.Fname {
  color: antiquewhite;
  font-weight: 900;
  font-size: 1.25rem;
  padding-right: 0.5rem;
}


.Lname {
  color: rgb(83, 79, 73);
  font-weight: 900;
  font-size: 1.25rem;
}


.Designation {
  color: antiquewhite;
  font-style: italic;
  font-size: 0.8rem;
}

.header {
  padding-top: 100px;
}

#avatar {
  position: relative;
  top: -10px;
}

#popover_userProfile{
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  max-height: 12rem;
}