table{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    /* background-color: antiquewhite; */
}
.table_header{
    text-align: center;
    background-color:#AFE8E6;
    font-size: 1.25rem;
    padding: 1rem;
    font-family: Arial;
    font-weight: 400;
    

}

#dropdownYear{
    padding-left: 15%;
}

#calender_row{
    margin-top: 0px;
    padding-top: 1%;
    
}
#cal_table{
    margin-top: 2%;
    /* padding-top: 5%; */
}

.blank_date{
    background-color: #F2F2F2;
}


