#date{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    align-self: center;
    padding-top: 2%;
    padding-left: 2%;
    min-width: 4rem;
    /* color: blue; */
}

#dummy_para{
    font-size: 1rem;
}

.single_tick{
    color: green;
    font-size: 1rem;
    text-align: right;
    align-self: flex-end;
}

.background_icon{
    position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  /* left: 10px; */
  content: "\f005";
}

.warning{
    color: rgb(151, 151, 14);
    font-size: 1rem;
}

.selected{
    background-color: aqua;
}



.today{
    background-color: greenyellow;
}